<!DOCTYPE html>
<html>
<head>
    <title>商品</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-inline">
            <#if shiro.hasPermission("goods:shopGoods:list")>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="q.key" @keyup.enter="query" placeholder="关键字">
                </div>
                <a class="btn btn-success" @click="query"><i class="fa fa-search"></i> 查询</a>
            </#if>
<!--            <#if shiro.hasPermission("goods:shopGoods:save")>-->
<!--                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i> 新增</a>-->
<!--            </#if>-->
            <#if shiro.hasPermission("goods:shopGoods:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i> 修改</a>
            </#if>
            <#if shiro.hasPermission("goods:shopGoods:delete")>
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i> 删除</a>
            </#if>
            <select class="form-control" v-model="countrySelected" @change="countryCheck($event)">
                <option  v-for="(item,index) in countryList" :value="index">{{item.name}}</option>
            </select>
            <select class="form-control" v-model="categorySelected" @change="categoryCheck($event)">
                <option  v-for="(item,index) in categoryList" :value="index">{{item.name}}</option>
            </select>
            </div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
<!--                                    <div class="form-group">-->
<!--                <div class="col-sm-2 control-label">国家ID,0为不限</div>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" class="form-control" v-model="shopGoods.countryId" placeholder="国家ID,0为不限"/>-->
<!--                </div>-->
<!--            </div>-->
<!--                                <div class="form-group">-->
<!--                <div class="col-sm-2 control-label">用户ID-代表商家</div>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" class="form-control" v-model="shopGoods.userId" placeholder="用户ID-代表商家"/>-->
<!--                </div>-->
<!--            </div>-->
<!--                                <div class="form-group">-->
<!--                <div class="col-sm-2 control-label">分类ID</div>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" class="form-control" v-model="shopGoods.categoryId" placeholder="分类ID"/>-->
<!--                </div>-->
<!--            </div>-->
<!--                                <div class="form-group">-->
<!--                <div class="col-sm-2 control-label">商品名称(默认)</div>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" class="form-control" v-model="shopGoods.title" placeholder="商品名称(默认)"/>-->
<!--                </div>-->
<!--            </div>-->
<!--                                <div class="form-group">-->
<!--                <div class="col-sm-2 control-label">备注(默认)</div>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" class="form-control" v-model="shopGoods.description" placeholder="备注(默认)"/>-->
<!--                </div>-->
<!--            </div>-->
<!--                                <div class="form-group">-->
<!--                <div class="col-sm-2 control-label">产品logo(默认)</div>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" class="form-control" v-model="shopGoods.logoUrl" placeholder="产品logo(默认)"/>-->
<!--                </div>-->
<!--            </div>-->
<!--                                <div class="form-group">-->
<!--                <div class="col-sm-2 control-label">库存</div>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" class="form-control" v-model="shopGoods.stock" placeholder="库存"/>-->
<!--                </div>-->
<!--            </div>-->
<!--                                <div class="form-group">-->
<!--                <div class="col-sm-2 control-label">价格</div>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" class="form-control" v-model="shopGoods.price" placeholder="价格"/>-->
<!--                </div>-->
<!--            </div>-->
<!--                                <div class="form-group">-->
<!--                <div class="col-sm-2 control-label">外链</div>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" class="form-control" v-model="shopGoods.linkUrl" placeholder="外链"/>-->
<!--                </div>-->
<!--            </div>-->
<!--                                <div class="form-group">-->
<!--                <div class="col-sm-2 control-label">联系电话</div>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" class="form-control" v-model="shopGoods.phone" placeholder="联系电话"/>-->
<!--                </div>-->
<!--            </div>-->
<!--                                <div class="form-group">-->
<!--                <div class="col-sm-2 control-label">联系地址</div>-->
<!--                <div class="col-sm-10">-->
<!--                    <input type="text" class="form-control" v-model="shopGoods.address" placeholder="联系地址"/>-->
<!--                </div>-->
<!--            </div>-->
                                <div class="form-group">
                <div class="col-sm-2 control-label">是否拼团:</div>
                <div class="col-sm-10">
                    <my-switch v-model="shopGoods.isGroup" text="on|off" @change="groupChange"></my-switch>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label">是否免费抢:</div>
                <div class="col-sm-10">
                    <my-switch v-model="shopGoods.isRush" text="on|off" @change="rushChange" ></my-switch>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label">是否一元购:</div>
                <div class="col-sm-10">
                    <my-switch v-model="shopGoods.isOneBuy" text="on|off" @change="oneBuyChange"></my-switch>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label">是否上架:</div>
                <div class="col-sm-10">
                    <my-switch v-model="shopGoods.status" text="on|off" @change="statusChange"></my-switch>
                </div>
            </div>
                        <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                <input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/goods/shopGoods.js?_${.now?long}"></script>
</body>

</html>
