<!DOCTYPE html>
<html>
<head>
    <title>商品分类</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-inline">
            <#if shiro.hasPermission("goods:shopGoodsCategory:list")>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="q.key" @keyup.enter="query" placeholder="关键字">
                </div>
                <a class="btn btn-success" @click="query"><i class="fa fa-search"></i> 查询</a>
            </#if>
            <#if shiro.hasPermission("goods:shopGoodsCategory:save")>
                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i> 新增</a>
            </#if>
            <#if shiro.hasPermission("goods:shopGoodsCategory:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i> 修改</a>
            </#if>
            <#if shiro.hasPermission("goods:shopGoodsCategory:delete")>
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i> 删除</a>
            </#if>
            <#if shiro.hasPermission("goods:shopGoodsCategory:save")>
            <a class="btn btn-primary" @click="addLanguage"><i class="fa fa-plus"></i> 新增语言</a>
            </#if>
            <select class="form-control" v-model="selected" @change="languageCheck($event)">
                <option  v-for="(item,index) in languages" :value="index">{{item.title}}</option>
            </select>
            <select class="form-control" v-model="parentId" @change="categoryChek($event)">
                <option value="0">一级分类</option>
                <option value="1">二级分类</option>
            </select>

            </div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList && showAddLanguage" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-2 control-label">归属分类</div>
                <div class="col-sm-10">
                    <input type="radio" id="male" value="0" v-model="isParent"> 一级目录
                    <input type="radio" id="female" value="1" v-model="isParent"> 二级目录
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">语言包</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="selected" @change="fromLanguageCheck($event)">
                        <option  v-for="(item,index) in languages" :value="index">{{item.title}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group" v-if="isParent == 1">
                <div class="col-sm-2 control-label">选择分类</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="parentSelected" @change="fromParentCheck($event)" >
                        <option  v-for="(item,index) in parentList" :value="index">{{item.title}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">默认标题</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="shopGoodsCategory.defaultTitle" placeholder="默认标题"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">语言标题</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="shopGoodsCategory.languageTitle" placeholder="语言标题"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">排序</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="shopGoodsCategory.orderNum" placeholder="排序"/>
                </div>
            </div>

            <div class="form-group" v-show="isParent == 1">
                <div class="col-sm-2 control-label">默认图标</div>
                <div class="col-sm-10">
                    <div style="display: flex;flex-direction: row;justify-content: space-between">
                        <input type="text" class="form-control" v-model="shopGoodsCategory.defaultIconUrl" placeholder="请输入图标地址"/>
                        <div style="width: 10px;"></div>
                        <button type="button" class="layui-btn" id="upload1" style="height: 32px;line-height: 32px">
                            上传图片
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group" v-show="isParent == 1">
                <div class="col-sm-2 control-label">语言图标</div>
                <div class="col-sm-10" >
                   <div style="display: flex;flex-direction: row;justify-content: space-between">
                       <input type="text" class="form-control"  v-model="shopGoodsCategory.languageIconUrl" placeholder="请输入图标地址"/>
                       <div style="width: 10px;"></div>
                         <button type="button" class="layui-btn" id="upload2" style="height: 32px;line-height: 32px">
                             上传图片
                         </button>
                   </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                <input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

    <div v-show="!showAddLanguage" class="panel panel-default">
        <div class="panel-heading">新增语言包</div>
        <form class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-2 control-label">当前新增项</div>
                <div class="col-sm-10">
                    <input type="text"  readonly="readonly" :value="shopGoodsCategory.title" class="form-control"/>
                </div>
            </div>

             <div class="form-group">
                <div class="col-sm-2 control-label">语言包</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="selected" @change="fromLanguageCheck($event)">
                        <option  v-for="(item,index) in languages" :value="index">{{item.title}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">语言标题</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="shopGoodsCategory.languageTitle" placeholder="语言标题"/>
                </div>
            </div>

            <div class="form-group" v-show=" shopGoodsCategory.parentId!=null && shopGoodsCategory.parentId != 0">
                <div class="col-sm-2 control-label">语言图标</div>
                <div class="col-sm-10" >
                   <div style="display: flex;flex-direction: row;justify-content: space-between">
                       <input type="text" class="form-control"  v-model="shopGoodsCategory.languageIconUrl" placeholder="请输入图标地址"/>
                       <div style="width: 10px;"></div>
                         <button type="button" class="layui-btn" id="upload3" style="height: 32px;line-height: 32px">
                             上传图片
                         </button>
                   </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnAddLanguageOrUpdate" data-loading-text="保存中..." @click="AddLanguageOrUpdate" value="确定"/>
                <input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/plugins/layui-v2.6.8/layui/layui.js"></script>
<script src="${request.contextPath}/statics/js/modules/goods/shopGoodsCategory.js?_${.now?long}"></script>
</body>
</html>
