<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/plugins/layui-v2.6.8/layui/css/layui.css">

</head>
<body>
<div class="panel panel-default" id="main"
     style="border:none;padding: 20px; background-color: #F2F2F2;height: 100vh;width: 100vw;font-size: 16px">
    <div class="layui-row layui-col-space15">
        <div style="text-align: center">
            <h1>当日活跃用户:{{statistical.userOnlineCount}}</h1>
        </div>

        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">用户</div>
                <div class="layui-card-body">
                    用户总数:{{statistical.userCount}}
                </div>
                <div class="layui-card-body">
                    今日新增:{{statistical.todayUserRegCount}}
                </div>
                <div class="layui-card-body">
                    今日新增(直属):{{statistical.firstUserCount}}
                </div>
                <div class="layui-card-body">
                    今日新增(分裂):{{statistical.SplitUserCount}}
                </div>
                <div class="layui-card-body">
                    总充值用户数:{{statistical.depositCount}}
                </div>
                <div class="layui-card-body">
                    今日新增充值用户:{{statistical.todayDepositUserCount}}
                </div>
                <div class="layui-card-body">
                    今日新增充值用户(直属):{{statistical.todayUserDepositFirstUserCount}}
                </div>
                <div class="layui-card-body">
                    今日新增充值用户(分裂):{{statistical.todayUserDepositSplitUserCount}}
                </div>
                <div class="layui-card-body">
                    当日提现用户数:{{statistical.todayUserWithdrawCount}}
                </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">资金</div>
                <div class="layui-card-body">
                    总充值:{{statistical.depositSum}}
                </div>
                <div class="layui-card-body">
                    总出金:{{statistical.withdrawSum}}
                </div>
                <div class="layui-card-body">
                    总资金余额:{{statistical.fundsBalance}}
                </div>
                <div class="layui-card-body">
                    当日充值总金额:{{statistical.toDayDepositSum}}
                </div>
                <div class="layui-card-body">
                    当日提现总金额:{{statistical.toDayWithdrawSum}}
                </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">积分</div>
                <div class="layui-card-body">
                    用户获得积分总数:{{statistical.userGetCredits}}
                </div>
                <div class="layui-card-body">
                    已经兑换总数:{{statistical.userExchangeCredits}}
                </div>
                <div class="layui-card-body">
                    未兑换总数:{{statistical.RedeemedCredits}}
                </div>
                <div class="layui-card-body">
                    当日获取积分总数:{{statistical.todayCredits}}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/main.js"></script>
</body>
</html>
