<!DOCTYPE html>
<html>
<head>
    <title>收货地址</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-inline">
            <#if shiro.hasPermission("user:userAddress:list")>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="q.key" @keyup.enter="query" placeholder="关键字">
                </div>
                <a class="btn btn-success" @click="query"><i class="fa fa-search"></i> 查询</a>
            </#if>
            <#if shiro.hasPermission("user:userAddress:save")>
                <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i> 新增</a>
            </#if>
            <#if shiro.hasPermission("user:userAddress:update")>
                <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i> 修改</a>
            </#if>
            <#if shiro.hasPermission("user:userAddress:delete")>
                <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i> 删除</a>
            </#if>
            </div>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
                                    <div class="form-group">
                <div class="col-sm-2 control-label">用户ID</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userAddress.userId" placeholder="用户ID"/>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label">收货人姓名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userAddress.name" placeholder="收货人姓名"/>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label">国家代码</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userAddress.countryCode" placeholder="国家代码"/>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label">电话</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userAddress.phone" placeholder="电话"/>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label">国家ID</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userAddress.countryId" placeholder="国家ID"/>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label">省</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userAddress.province" placeholder="省"/>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label">市</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userAddress.city" placeholder="市"/>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label">区</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userAddress.area" placeholder="区"/>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label">详细地址</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userAddress.address" placeholder="详细地址"/>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label">是否默认</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userAddress.isDefault" placeholder="是否默认"/>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userAddress.isDel" placeholder=""/>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userAddress.version" placeholder=""/>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userAddress.createTime" placeholder=""/>
                </div>
            </div>
                                <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="userAddress.updateTime" placeholder=""/>
                </div>
            </div>
                        <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" id="btnSaveOrUpdate" data-loading-text="保存中..." @click="saveOrUpdate" value="确定"/>
                <input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/user/userAddress.js?_${.now?long}"></script>
</body>
</html>