<!DOCTYPE html>
<html>
<head>
    <title>提现申请</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-inline">
            <#if shiro.hasPermission("user:userWithdraw:list")>
                <div class="form-group">
                    <input type="text" class="form-control" v-model="q.key" @keyup.enter="query" placeholder="关键字">
                </div>
                <div v-if="statusList!=null && statusList.length > 0" class="form-group">
                    <label class="control-label">状态:</label>
                    <select class="form-control" v-model="q.status">
                        <option value="" selected="selected">请选择</option>
                        <option v-for="item in statusList" :value="item.code">{{item.value}}</option>
                    </select>
                </div>
                <a class="btn btn-success" @click="query"><i class="fa fa-search"></i> 查询</a>
            </#if>
            </div>
        </div>
        <div class="grid-btn">
            <#if shiro.hasPermission("user:userWithdraw:check")>
                <a class="btn btn-primary" @click="check"><i class="fa fa-pencil-square-o"></i> 审核</a>
            </#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">提现审核</h4>
            </div>
            <div class="modal-body">
                <p>
                    <label>用户ID：</label><span>{{userWithdraw.id}}</span>
                    <label>用户昵称：</label><span>{{userWithdraw.userName}}</span>
                </p>
                <p>
                    <label>银行名称：</label><span>{{userWithdraw.bankName}}</span>
                </p>
                <p>
                    <label>账户名称：</label><span>{{userWithdraw.accountName}}</span>
                </p>
                <p>
                    <label>账户号码：</label><span>{{userWithdraw.accountNumber}}</span>
                </p>
                <p>
                    <label>分行信息：</label><span>{{userWithdraw.branchName}}</span>
                </p>
                <p>
                    <label>IBAN：</label><span>{{userWithdraw.iban}}</span>
                </p>
                <p>
                    <label>UPI：</label><span>{{userWithdraw.upi}}</span>
                </p>
                <p>
                    <label>IFSC：</label><span>{{userWithdraw.ifsc}}</span>
                </p>
                <p>
                    <label>提现金额：</label><span style="color:#ff6d33;font-weight: bold">{{userWithdraw.amount}}</span>
                </p>
                <p>
                    <label>订单状态：</label><span :class="'label '+userWithdraw.statusColor">{{userWithdraw.statusValue}}</span>
                </p>
                <p v-if="userWithdraw.remark != null && userWithdraw.remark != ''">
                    <label>拒绝原因：</label>
                    <span>{{userWithdraw.remark}}</span>
                </p>
            </div>
            <div class="modal-footer">
                <button v-if="userWithdraw.status == 0" type="button" class="btn btn-success" @click="success"><i class="fa fa-check"></i> 通过</button>
                <button v-if="userWithdraw.status == 0" type="button" class="btn btn-warning" @click="refuse"><i class="fa fa-times"></i> 拒绝</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</div>

<script src="${request.contextPath}/statics/js/modules/user/userWithdraw.js?_${.now?long}"></script>
</body>
</html>